commands:
  01_create_network_if_not_exists:
    command: "docker network ls | grep -q mynetwork || docker network create mynetwork"
  02_run_rabbitmq:
    command: "docker run -d --name rabbitmq --network mynetwork -p 5672:5672 -p 15672:15672 -p 61613:61613 --restart=unless-stopped rabbitmq:management"
    test: "[[ ! $(docker ps -q -f name=rabbitmq) ]]"
  03_connect_network_rabbitmq:
    command: "docker network connect mynetwork rabbitmq || true"
  04_enable_rabbitmq:
    command: "docker exec rabbitmq bash -c 'rabbitmq-plugins enable rabbitmq_stomp && rabbitmq-plugins enable rabbitmq_management' || true"